[Desktop Entry]
Name=Eclipse 4DIAC IDE
Exec=4diac-ide
Type=Application
Categories=GTK;Development;IDE;
Terminal=false
Keywords=4diac;iot
Icon=org.eclipse.iot.fourdiac.Ide

